{% include 'admin/header.html' %}

 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">EDIT Admin</h1>

          <div class="row">

            <div class="col-lg-6">
              {% for row in editadmin %}
         
              <!-- Circle Buttons -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary" value="">Data Admin </h6>
                </div>
                <div class="card-body">
                 
                    <form class="form-horizontal" action="/admin/editadmin/{{row.0}}" method="post" enctype="multipart/form-data">
                      <div class="form-group" style="outline-color: none">
                          <label class="col-lg-5 control-label">No Induk</label>
                            <div class="col-lg-5">
                                  <input type="hidden" name="id_user" value="{{row.0}}">
                            <!-- <input type="hidden" name="password"> -->
                            <input type="text" name="noinduk" readonly value="{{row.1}}">
                            </div>
                      </div>
                            <div class="form-group" style="outline-color: none">
                              <label class="col-lg-5 control-label">Nama</label>
                                <div class="col-lg-5">
                                <!-- <input type="hidden" name="password"> -->
                                <input type="text" name="nama" value="{{row.2}}">
                                </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-5 control-label">Kelas</label>
                              <div class="col-lg-5">
                                <input type="kelas" name="kelas" value="{{row.3}}">
                              </div>
                              </div>
                          <div class="form-group">
                            <label class="col-lg-5 control-label">Password</label>
                              <div class="col-lg-5">
                                <input type="password" name="password" value="{{row.4}}">
                              </div>
                              </div>
                      <div class="form-group">
                          <label class="col-lg-2 control-label">Level</label>
                            <div class="col-lg-5">
                              <input type="text" name="level" value="{{row.5}}">
                            </div>
                      </div>
                      <div class="form-group">
                        <label class="col-lg-2 control-label"></label>
                          <div class="col-lg-5">
                              <button class="btn btn-primary"><i class="glyphicon glyphicon-hdd"></i> Update</button>
                              <a href="/admin/tampiladmin" class="btn btn-default">Kembali</a>
                            </div>
                      </div>
                              
  
  </form>
  {% endfor %}

                </div>
              </div>

          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      {% include 'admin/footer.html' %}