{% include 'admin/header.html' %}
 <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Tabel Pertanyaan</h1>
         

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Data Pertanyaan</h6>
            </div>

            <div class="card-body">
                          
              <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                 <thead>
                                                <tr>

                                                    <th  data-field="state" data-checkbox="" ><center>No.</center></th>

                                                    <th ><center>Kode Pertanyaan</center></th>
                                                    <th ><center>Pertanyaan</center></th>
                                                    <th ><center>Action</center></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                              {% for row in pertanyaan %}
                                                <tr>
                                                
                                                    <td><center>{{row.0}}</center></td>                                    
                                                    <td><center>{{row.1}}</center></td>
                                                    <td>{{row.2}}</td>
                                              
                                                   <td><center>
                                                   <a href="/admin/editpertanyaan/{{row.0}}" class="btn btn-xs btn-info"> <i class="fas fa-info-circle"> Edit Data</i></a>
                                                 
                                                    </center>
                                                    </td>
                                                   
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      {% include 'admin/footer.html' %}



